<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688897090799-n7llvrfrib6aalpr149vttvbuigs49r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688897090799-n7llvrfrib6aalpr149vttvbuigs49r5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688897090799-7n66i05udst0cppljndal8l0dh0s63bn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwJGhFEJJBOdYiuKWTNxOHgTr46yBBlD4</string>
	<key>GCM_SENDER_ID</key>
	<string>688897090799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.americaScores.app</string>
	<key>PROJECT_ID</key>
	<string>america-scores</string>
	<key>STORAGE_BUCKET</key>
	<string>america-scores.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688897090799:ios:73bd7578a0b48d0ff6e71a</string>
	<key>DATABASE_URL</key>
	<string>https://america-scores.firebaseio.com</string>
</dict>
</plist>